.product-container {
    width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 80vh;
    min-height: 500px;
    align-items: center;
    gap: 80px;
}

.product-img img {
    width: 100%;
}

p.product-title {
    color: magenta;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

button.info-btn {
    border: none;
    outline: none;
    padding: 16px 16px;
    margin-top: 19px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    background: #25123b;
    color: white;
    border-radius: 7px;
}

.feedback-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
    gap: 50px;
}

.feedback-title {
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #550556;
}

.feedback-parents {
    width: 1170px;
    margin: auto;
}

.feedback {
    margin-bottom: 100px;
}

.re-info-btn {
    margin: auto;
    display: flex
}